{% extends "layout.html" %}
{% block body %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Lỗi
          </h1>

        </section>

        <!-- Main content -->
        <section class="content">

          <div class="error-page">
            <h2 class="headline text-red"></h2>
            <div class="error-content" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
              <h3>
                  <i class="fa fa-warning text-red"></i> Tài khoản của bạn không có quyền truy cập trang này.</h3>
              <p>
                Xin hãy liên hệ với người quản lý trang Web để nhận được sự hỗ trợ.
              </p>
              <form class="search-form">
                <div class="input-group">

                  <div class="input-group-btn">

                  </div>
                </div><!-- /.input-group -->
              </form>
            </div>
          </div><!-- /.error-page -->

        </section><!-- /.content -->

{% endblock %}