{% extends "layout.html" %}
{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo Mới Người Dùng</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" data-parsley-validate method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">User Name</label>
                            <div class="col-sm-10">
                                <input required data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" placeholder="" name="username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input required data-parsley-error-message="Không được bỏ trống những thông tin này"  type="email" class="form-control" placeholder="" name="email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input required data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" placeholder="" name="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Quyền</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="create" name="permission_create">
                                            Tạo Mới
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="edit" name="permission_edit">
                                        Chỉnh Sửa
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="search" name="permission_search">
                                        Tìm Kiếm
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="admin" name="permission_admin">
                                        Admin
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" type="reset">Xóa bỏ</button>
                        <button class="btn btn-success pull-right" type="submit" style="width: 155px; height: 50px;font-size: 23px;">Tạo Mới </button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- left column -->
    </div>
    <!--/.col (right) -->
    </div>   <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}