{% extends "layout.html" %}
{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <!--<h1>-->
        <!--Quản lý Văn Bản Đến-->
        <!--<small>.</small>-->
    <!--</h1>-->
    <!--<ol class="breadcrumb">-->
    <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
    <!--<li><a href="#">Forms</a></li>-->
    <!--<li class="active">General Elements</li>-->
    <!--</ol>-->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Chỉnh Sửa Văn Bản Đến</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" data-parsley-validate method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ngày Đến</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="ngay_den" readonly value="{{data[1] | format_datetime }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số Đến</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="number" class="form-control" placeholder="" name="so_den" value="{{data[2]}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nơi Gửi</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="noi_gui" value="{{data[3]}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Số Ký Hiệu</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="so_ky_hieu" value="{{data[4]}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ngày Tháng Của Công Văn</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="ngay_thang_cong_van" readonly value="{{data[5] | format_datetime }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Người Nhận</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="nguoi_nhan" value="{{data[6]}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nội Dung Tóm Tắt</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="noi_dung" value="{{data[7]}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ký Nhận</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="ky_nhan" value="{{data[8]}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ghi Chú</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" placeholder="" name="ghi_chu" value="{{data[9]}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Upload Tài Liệu 1</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" type="file" id="exampleInputFile" data-buttonText="Click Để Upload." name="fileupload1" class="btn btn-default" accept=".pdf,.doc,.docx,.xlsx,.xls,.rar.zip"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Upload Tài Liệu 2</label>
                            <div class="col-sm-10">
                                <input data-parsley-error-message="Không được bỏ trống những thông tin này" type="file" id="exampleInputFile" data-buttonText="Click Để Upload." name="fileupload2" class="btn btn-default" accept=".pdf,.doc,.docx,.xlsx,.xls,.rar.zip"/>
                            </div>
                        </div>
                    </div>
                    {% if data %}
                    {% if data[10] %}
                        <input type="hidden" value="{{data[10]}}" name="uploaded_file">
                    {% endif %}
                    {% endif %}
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" type="reset">Xóa bỏ</button>
                        <button class="btn btn-success pull-right" type="submit" style="width: 155px; height: 50px;font-size: 23px;">Sửa Đổi</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- left column -->
    </div>
    <!--/.col (right) -->
    </div>   <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}