<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>QLVB | 1.0</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/static/dist/css/fa/css/font-awesome.min.css">
        <!-- Ionicons -->
        <!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
        <!-- Theme style -->
        <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
            folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">
        <!-- iCheck -->
        <!--<link rel="stylesheet" href="/static/plugins/iCheck/flat/blue.css">-->
        <!-- Morris chart -->
        <!--<link rel="stylesheet" href="/static/plugins/morris/morris.css">-->
        <!-- jvectormap -->
        <!--<link rel="stylesheet" href="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css">-->
        <!-- Date Picker -->
        <!--<link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css">-->
        <!-- Daterange picker -->
        <link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker-bs3.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!--<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">-->
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
        <![endif]-->
        <style>
            input.parsley-error, select.parsley-error, textarea.parsley-error {
                background-color: #f2dede;
                border: 1px solid #eed3d7;
                color: #b94a48;
            }
            body{
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }
        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>QL</b>vb</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Quản lý</b> văn bản</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/static/dist/img/avatar.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{username | get_username}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Menu Body -->
                                    <!--<li class="user-body">-->
                                        <!--<div class="col-xs-4 text-center">-->
                                            <!--<a href="#">Followers</a>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-4 text-center">-->
                                            <!--<a href="#">Sales</a>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-4 text-center">-->
                                            <!--<a href="#">Friends</a>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <!--<div class="pull-left">-->
                                            <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                                        <!--</div>-->
                                        <div>
                                            <a style="width: 100%" href="/logout" class="btn btn-default btn-flat">Thoát</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <!-- search form -->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">CHỨC NĂNG</li>
                        <li class="treeview">
                            <a href="#">
                            <i class="fa fa-mail-forward"></i> <span>Văn Bản Đến</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="/list_in"><i class="fa fa-circle-o"></i> Danh Sách</a></li>
                                <li><a href="new_in"><i class="fa fa-circle-o"></i> Tạo Mới</a></li>
                            </ul>

                        </li>
                        <li class="treeview">
                            <a href="#">
                            <i class="fa fa-mail-reply"></i> <span>Văn Bản Đi</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="list_out"><i class="fa fa-circle-o"></i> Danh Sách</a></li>
                                <li><a href="new_out"><i class="fa fa-circle-o"></i>Tạo mới</a></li>
                            </ul>

                        </li>
                        <li class="treeview">
                            <a href="#">
                            <i class="fa fa-user"></i> <span>Quản Lý Người Dùng</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="user_list"><i class="fa fa-circle-o"></i> Danh Sách</a></li>
                                <li><a href="create_user"><i class="fa fa-circle-o"></i>Tạo mới</a></li>
                            </ul>

                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {% block body %}{% endblock %}
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Quản Lý Văn Bản 2015 .</strong> Trung Tâm Chính Phủ Điện Tử - Cục Tin Học Hoá - Bộ Thông Tin Truyền Thông.
            </footer>
            <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
        <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <script type="text/javascript">
            $(function() {
                $('input[name="ngay_den"]').daterangepicker({
                    format: "DD-MM-YYYY",
                    singleDatePicker: true,
                    locale: {
                        applyLabel: 'Chọn',
                        cancelLabel: 'Bỏ Qua',
                        fromLabel: 'Từ',
                        toLabel: 'Đến',
                        customRangeLabel: 'Tùy chọn',
                        daysOfWeek: ['Cn', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                        monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Bốn', 'Tháng Năm', 'Tháng Sáu', 'Tháng Bẩy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                        firstDay: 1
                    }
                });
            });
            $(function() {
                $('input[name="ngay_thang_cong_van"]').daterangepicker({
                    format: "DD-MM-YYYY",
                    singleDatePicker: true,
                    locale: {
                        applyLabel: 'Chọn',
                        cancelLabel: 'Bỏ Qua',
                        fromLabel: 'Từ',
                        toLabel: 'Đến',
                        customRangeLabel: 'Tùy chọn',
                        daysOfWeek: ['Cn', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                        monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Bốn', 'Tháng Năm', 'Tháng Sáu', 'Tháng Bẩy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                        firstDay: 1
                    }
                });
            });
            $(function() {
                $('input[name="ngay_thang"]').daterangepicker({
                    format: "DD-MM-YYYY",
                    singleDatePicker: true,
                    locale: {
                        applyLabel: 'Chọn',
                        cancelLabel: 'Bỏ Qua',
                        fromLabel: 'Từ',
                        toLabel: 'Đến',
                        customRangeLabel: 'Tùy chọn',
                        daysOfWeek: ['Cn', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                        monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Bốn', 'Tháng Năm', 'Tháng Sáu', 'Tháng Bẩy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                        firstDay: 1
                    }
                });
            });
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <!-- Morris.js charts -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>-->
        <!--<script src="/static/plugins/morris/morris.min.js"></script>-->
        <!-- Sparkline -->
        <!--<script src="/static/plugins/sparkline/jquery.sparkline.min.js"></script>-->
        <!-- jvectormap -->
        <!--<script src="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>-->
        <!--<script src="/static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>-->
        <!-- jQuery Knob Chart -->
        <!--<script src="/static/plugins/knob/jquery.knob.js"></script>-->
        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- datepicker -->
        <script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <!--<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
        <!-- FastClick -->
        <!--<script src="/static/plugins/fastclick/fastclick.min.js"></script>-->
        <!-- AdminLTE App -->
        <script src="/static/dist/js/app.min.js"></script>
        <script src="/static/dist/js/parsley.min.js"></script>
        <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script src="//cdn.datatables.net/plug-ins/1.10.9/sorting/date-uk.js"></script>

        <script>
            $(function () {
                $('#example2').DataTable({
                    "columnDefs": [
                        {type: "date-uk", targets: 1}
                    ],
                    "bPaginate": true,
                    "LengthChange": false,
                    "bFilter": true,
                    "bSort": true,
                    "Info": true,
                    "AutoWidth": false,
                    "language": {
                        "search": "Tìm kiếm:",
                        "infoEmpty": "",
                        "info": "",
                        "emptyTable": "Không có dữ liệu",
                        "paginate": {
                            "first": "Đầu tiên",
                            "last": "Cuối cùng",
                            "next": "Trang tiếp",
                            "previous": "Trang trước"
                        }
                    },
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                });
            });
        </script>
        <script>
            $("#compose-textarea").wysihtml5();
        </script>
    </body>
</html>