{% extends "layout.html" %}
{% block body %}
<section class="content-header">
    <h1>
        Quản Lý Văn Bản Đi
        <small>.</small>
    </h1>
    <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Data tables</li>-->
    <!--</ol>-->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Danh sách văn bản</h3>
                    <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                        <div class="btn-group">
                            <a href="/new_out" class="btn btn-primary">Thêm Mới</a>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ngày tháng</th>
                                <th>Số & ký hiệu</th>
                                <th>Trích yếu</th>
                                <th>Người ký</th>
                                <th>Nơi nhận</th>
                                <th>Đơn vị hoặc người nhận</th>
                                <th>Số lượng</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for item in data %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{ item[1] | format_datetime }}</td>
                                <td>{{item[2]}}</td>
                                <td>{{item[3]}}</td>
                                <td>{{item[4]}}</td>
                                <td>{{item[5]}}</td>
                                <td>{{item[6]}}</td>
                                <td>{{item[7]}}</td>
                                <td align="center">
                                    <a href="/edit_out?id={{item[0]}}" >
                                        <span class="label label-success">Chỉnh sửa</span>
                                    </a>
                                    <br>
                                    <a href="/send_mail_out?id={{item[0]}}">
                                        <span class="label label-warning">Gửi mail</span>
                                    </a>
                                    <br>
                                    <a href="/view/{{item[9]|split_filename1}}">
                                        <span class="label label-default">Xem file 1</span>
                                    </a>
                                    <br>
                                    <!--{% if "admin" in user|get_permission %}-->
                                    <!--<a href="/delete_out/{{item[0]}}">-->
                                        <!--<span class="label label-danger">Xóa</span>-->
                                    <!--</a>-->
                                    <!--{% endif %}-->
                                    <a href="/view/{{item[9]|split_filename2}}">
                                        <span class="label label-default">Xem file 2</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <!--<tfoot>-->
                            <!--<tr>-->
                                <!--<th>Ngày đến</th>-->
                                <!--<th>Số đến</th>-->
                                <!--<th>Nơi gửi</th>-->
                                <!--<th>Số ký hiệu</th>-->
                                <!--<th>Ngày tháng công văn</th>-->
                                <!--<th>Người nhận</th>-->
                                <!--<th>Nội dung</th>-->
                                <!--<th>Ký nhận</th>-->
                                <!--<th>Ghi chú</th>-->
                                <!--<th>Chức năng</th>-->
                            <!--</tr>-->
                        <!--</tfoot>-->
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}