{% extends "layout.html" %}
{% block body %}
<section class="content-header">
    <h1>

        <small>.</small>
    </h1>
    <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li class="active">Mailbox</li>-->
    <!--</ol>-->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form method="post" data-parsley-validate>
                    <div class="box-header with-border">
                        <h3 class="box-title">Soạn Mail</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <input data-parsley-error-message="Không được bỏ trống những thông tin này" class="form-control" placeholder="Gửi tới:" name="to" required data-parsley-type="email">
                        </div>
                        <div class="form-group">
                            <input data-parsley-error-message="Không được bỏ trống những thông tin này" class="form-control" placeholder="Tiêu đề:" name="subject" required>
                        </div>
                        <div class="form-group">
                            <textarea id="compose-textarea" class="form-control" style="height: 300px" name="content"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-default btn-file">
                                <i class="fa fa-paperclip"></i> File gửi kèm 1
                                <input type="text" name="attachment1" readonly value="{{attachment|split_filename1}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-default btn-file">
                                <i class="fa fa-paperclip"></i> File gửi kèm 2
                                <input type="text" name="attachment2" readonly value="{{attachment|split_filename2}}">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Gửi Email</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}