{% extends "layout.html" %}
{% block body %}
<section class="content-header">
    <!--<h1>-->
        <!--Quản Lý Văn Bản Đến-->
        <!--<small>.</small>-->
    <!--</h1>-->
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Nhập Mới Văn Bản Đi</h3>
        </div>
        <form class="form-horizontal" data-parsley-validate method="post" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ngày Tháng Của Văn Bản</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" type="text" readonly name="ngay_thang">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Số Và Ký Hiệu</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này" required type="text" class="form-control" type="text" name="ky_hieu">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên Loại Và Trích Yếu Nội Dung</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" type="text" name="noi_dung">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Người Ký</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" type="text" name="nguoi_ky">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nơi Nhận</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" type="text" name="noi_nhan">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Đơn Vị Hoặc Người Nhận Bản Lưu</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" type="text" name="don_vi_va_nguoi_nhan_ban_luu">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Số Lượng Bản Lưu</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này" min="1"  type="number" class="form-control" type="text" name="so_luong" value="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ghi Chú</label>
                    <div class="col-sm-10">
                        <input data-parsley-error-message="Không được bỏ trống những thông tin này"  type="text" class="form-control" type="text" name="ghi_chu">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Tài Liệu 1</label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" data-parsley-error-message="Không được bỏ trống những thông tin này"  type="file" data-buttonText="Click Để Upload." name="fileupload1" accept=".pdf,.doc,.docx,.xlsx,.xls,.rar.zip"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Tài Liệu 2</label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" data-parsley-error-message="Không được bỏ trống những thông tin này"  type="file" data-buttonText="Click Để Upload." name="fileupload2" accept=".pdf,.doc,.docx,.xlsx,.xls,.rar.zip"/>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default" type="reset">Xóa bỏ</button>
                    <button class="btn btn-success pull-right" type="submit" style="width: 155px; height: 50px;font-size: 23px;">Tạo Mới </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
{% endblock %}