{% extends "layout.html" %}
{% block body %}
<section class="content-header">
    <h1>
        Quản Lý Người Dùng
        <small>.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"></a></li>
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Data tables</li>-->
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Danh sách người dùng</h3>
                    <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
                        <div class="btn-group">
                            <a href="/create_user" class="btn btn-block btn-primary btn-flat">Thêm Mới</a>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Quyền</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for item in data %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                                <td>{{item[3]}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <!--<tfoot>-->
                            <!--<tr>-->
                                <!--<th>Ngày đến</th>-->
                                <!--<th>Số đến</th>-->
                                <!--<th>Nơi gửi</th>-->
                                <!--<th>Số ký hiệu</th>-->
                                <!--<th>Ngày tháng công văn</th>-->
                                <!--<th>Người nhận</th>-->
                                <!--<th>Nội dung</th>-->
                                <!--<th>Ký nhận</th>-->
                                <!--<th>Ghi chú</th>-->
                                <!--<th>Chức năng</th>-->
                            <!--</tr>-->
                        <!--</tfoot>-->
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}